@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Tema claro */
:root[data-theme="light"] {
  --bg-color: #ffffff;
  --bg-secondary: #555555;
  --text-color: #000000;
  --primary-color: #962fbf;
}

/* Tema escuro */
:root[data-theme="dark"] {
  --bg-color: #121212;
  --bg-secondary: #555555;
  --text-color: #ffffff;
  --primary-color: #3498db;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background-color: var(--bg-color);
}

main{
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

a{
    text-decoration: none;
}

#toggle-theme{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    margin-top: 12px;
    margin-right: 12px;

    background-color: var(--bg-secondary);

    border: 4px solid var(--bg-secondary);
    border-radius: 50%;

    cursor: pointer;
}

#photo{
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .5);
    width: 160px;
    height: 160px;

    border-radius: 50%;
    
    margin-bottom: 20px;
}

#moon, #sun{
    color: #f0f0f0;
}

.roboto{
  font-family: "Roboto", sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    gap: 20px;
}

.box p,.box h1 {
    text-align: center;
    color: var(--primary-color);
}


.box p {
    max-width: 600px;
    color: var(--text-color);
}


.box img{
    width: 160px;
    height: 160px;

    border-radius: 50%;
}

.icons{
    font-size: 24px;
}

.fa-instagram{
    background: -webkit-linear-gradient(bottom left, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin{
    color: #0077B5;
}

.fa-github{
    color: var(--text-color);
}

.visible{
    display: visible;
}

.hidden{
    display: none!important;
}

svg:hover path {
    fill: #fce57e;
}

@media (min-width: 900px) {
    main{
        flex-direction: row;
        margin-top: 0;

        gap: 50px
    }

    #photo{
        width: 300px;
        height: 300px;
    }

    .box img{
        width: 300px;
        height: 300px;
    }

    .box p {
        max-width: 450px;
    }

    .icons{
        font-size: 36px;
    }
}